# Server Configuration
PORT=3001
DATABASE_URL=db.sqlite

# AI Configuration
OLLAMA_URL=http://localhost:11434

# eBay API Configuration
# Get these from your eBay Developer Portal
EBAY_CLIENT_ID=your_client_id
EBAY_CLIENT_SECRET=your_client_secret
EBAY_REDIRECT_URI=your_runame
EBAY_DEV_ID=your_dev_id
